{% set hay_filtros = false %}

{% set universidad = view.exposed_raw_input.field_universidad_target_id|default(view.exposed_raw_input.field_universidad_principal_target_id|default('')) %}
{% set tipo_programa = view.exposed_raw_input.field_tipo_de_programa_target_id|default(view.exposed_raw_input.tipo_programa_docente|default('')) %}
{% set title = view.exposed_raw_input.title|default('') %}

{% if title|trim != '' %}
	{% set hay_filtros = true %}
{% endif %}

{% if universidad != '' and universidad != 'All' %}
	{% set hay_filtros = true %}
{% endif %}

{% if tipo_programa != '' and tipo_programa != 'All' %}
	{% set hay_filtros = true %}
{% endif %}

<section class="du-generic-swiper du-swiper-program"  data-inline="small">
	<div class="du-generic-swiper__container du-swiper-program__container">
		<div class="du-generic-swiper__header">
			{% if hay_filtros %}
				<h3>Mostrando
					<span>{{ view.total_rows }}
						{{ view.total_rows == 1 ? 'Docente' : 'Docentes' }}</span>
				</h3>
			{% else %}
				<h3>Docentes
					<span>Programas</span>
				</h3>
			{% endif %}
		</div>

		{% if rows %}
			<div class="du-programs-container">
				{% for row in rows %}
					{% set docente = row.docente_entity %}
					{% set programas = row.programas_relacionados|default([]) %}
					{% set docente_url = row.docente_url|default(path('entity.node.canonical', {'node': docente.id()})) %}
					{% set nombre = docente ? docente.label() : '' %}
					{% set especialidad = '' %}
					{% set universidad_label = '' %}
					{% set perfil = '' %}

					{% if docente and docente.hasField('field_especialidad') and not docente.field_especialidad.isEmpty %}
						{% set especialidad = docente.field_especialidad.entity ? docente.field_especialidad.entity.label() : docente.field_especialidad.value %}
					{% endif %}

					{% if docente and docente.hasField('field_universidad_principal') and not docente.field_universidad_principal.isEmpty %}
						{% set universidad_label = docente.field_universidad_principal.entity ? docente.field_universidad_principal.entity.label() : docente.field_universidad_principal.value %}
					{% elseif docente and docente.hasField('field_universidad') and not docente.field_universidad.isEmpty %}
						{% set universidad_label = docente.field_universidad.entity ? docente.field_universidad.entity.label() : docente.field_universidad.value %}
					{% endif %}

					{% if docente and docente.hasField('field_perfil_profesional') and not docente.field_perfil_profesional.isEmpty %}
						{% set perfil = docente.field_perfil_profesional.value %}
					{% endif %}

					<div class="du-programs-item">

						<article class="du-card__expert">
							<div class="du-card__expert-main">
								{% if docente and docente.hasField('field_foto_docente') and docente.field_foto_docente.entity %}
									<img src="{{ file_url(docente.field_foto_docente.entity.uri.value) }}" alt="{{ nombre }}" class="du-card__expert-img">
								{% endif %}

								<div class="du-card__expert-intro">
									<h3 class="du-card__expert-title">{{ nombre }}</h3>
									<p class="du-card__expert-role">{{ especialidad }}</p>
								</div>
							</div>
							{% if universidad_label != '' %}
								<div class="du-card__expert-uni">
									<svg width="21" height="21" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.0432 7.26354V14.6632M1.28453 6.70077C0.746301 6.44295 0.746301 5.74737 1.28453 5.48955C1.99023 5.1515 3.0445 4.67169 4.53573 4.0505C6.60765 3.18746 8.02295 2.67571 8.78278 2.41634C9.21066 2.26975 9.67516 2.26975 10.103 2.41634C10.8625 2.67571 12.2786 3.18746 14.3501 4.0505C15.8417 4.67169 16.8956 5.1515 17.6017 5.48955C18.1391 5.74737 18.1391 6.44295 17.6017 6.70077C16.8956 7.03882 15.8413 7.51863 14.3501 8.13982C12.2782 9.00286 10.8629 9.51461 10.103 9.77399C9.67516 9.92057 9.21066 9.92057 8.78278 9.77399C8.02333 9.51461 6.60726 9.00286 4.53573 8.13982C3.04411 7.51824 1.99023 7.03882 1.28453 6.70077Z" stroke="#007BE3" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M4.41985 8.09106C4.39247 8.61521 4.37923 9.14 4.38013 9.66487C4.38013 10.8699 4.44205 11.6266 4.50281 12.0795C4.55616 12.4752 4.78283 12.8117 5.13646 12.9967C5.82034 13.355 7.20954 13.8843 9.44309 13.8843C11.6766 13.8843 13.0658 13.3554 13.7497 12.9971C14.1033 12.8121 14.33 12.4756 14.3834 12.0803C14.4441 11.627 14.506 10.8702 14.506 9.66565C14.507 9.14065 14.4937 8.61573 14.4663 8.09145M3.21175 15.8316C3.21175 16.1414 3.08865 16.4386 2.86954 16.6577C2.65043 16.8768 2.35325 16.9999 2.04338 16.9999C1.7335 16.9999 1.43632 16.8768 1.21721 16.6577C0.998096 16.4386 0.875 16.1414 0.875 15.8316C0.875 15.5217 0.998096 15.2245 1.21721 15.0054C1.43632 14.7863 1.7335 14.6632 2.04338 14.6632C2.35325 14.6632 2.65043 14.7863 2.86954 15.0054C3.08865 15.2245 3.21175 15.5217 3.21175 15.8316Z" stroke="#007BE3" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									<span>{{ universidad_label }}</span>
								</div>
							{% endif %}
							{% if programas %}
								<div class="du-card__expert-uni">
									<svg width="15" height="13" viewbox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7.5 1.99463C7.5 1.99463 4 -1.00537 0.5 1.49463V12.4946C4 9.99463 7.5 12.4946 7.5 12.4946M7.5 1.99463C7.5 1.99463 11 -1.00537 14.5 1.49463V12.4946C11 9.99463 7.5 12.4946 7.5 12.4946M7.5 1.99463V12.4946" stroke="#007BE3" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									<span>Programas:
									</span>
								</div>
								<div class="du-card__expert-tags">
									{% for programa in programas %}
										<span class="tag" data-tag="{{ programa.tipo_programa_color }}">
											{{ programa.title }}
										</span>
									{% endfor %}
								</div>
							{% endif %}
							{% if perfil != '' %}
								<div class="du-card__expert-detail">
									<p>{{ perfil|striptags|trim }}
									</p>
								</div>
							{% endif %}

							<div class="du-card__expert-footer">
								<a href="#" class="du-link-more du-open-modal" data-target="modal-docente-{{ loop.index }}">Ver detalle</a>
							</div>
						</article>

					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="du-generic-swiper__header">
				<h3 class="du-programs-message">Ups, no hay resultados
					<span>por ahora.</span>
				</h3>
			</div>
		{% endif %}
	</div>

	{# {% for docente in docentes_programa %} #}
	{% for row in rows %}
		{% set docente = row.docente_entity %}
		{% set programas = row.programas_relacionados|default([]) %}
		{% set nombre = docente ? docente.label() : '' %}
		{% set especialidad = '' %}

		{% if docente and docente.hasField('field_especialidad') and not docente.field_especialidad.isEmpty %}
			{% set especialidad = docente.field_especialidad.entity ? docente.field_especialidad.entity.label() : docente.field_especialidad.value %}
		{% endif %}

		<div id="modal-docente-{{ loop.index }}" class="du-modal" >
			<div class="du-modal__overlay"></div>
			<div class="du-modal__container">
				<button class="du-modal__close">&times;</button>

				<div class="du-modal__content">
					<aside class="du-modal__aside">
						{% if docente and docente.hasField('field_foto_docente') and docente.field_foto_docente.entity %}
							<img src="{{ file_url(docente.field_foto_docente.entity.uri.value) }}" alt="{{ nombre }}" class="du-modal__img" />
						{% endif %}

						<div class="du-modal__personal-info">
							<h3 class="du-modal__name">{{ nombre }}</h3>
							<p class="du-modal__role">{{ especialidad }}</p>

							<div class="du-modal__contact">
								{% if docente.field_ciudad.entity.name.value %}
									<div class="du-modal__contact-item">
										<svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M7 9.4375C8.34619 9.4375 9.4375 8.34619 9.4375 7C9.4375 5.65381 8.34619 4.5625 7 4.5625C5.65381 4.5625 4.5625 5.65381 4.5625 7C4.5625 8.34619 5.65381 9.4375 7 9.4375Z"
												stroke="#007BE3" stroke-linecap="round" stroke-linejoin="round" />
											<path
												d="M7 0.5C5.27609 0.5 3.62279 1.18482 2.40381 2.40381C1.18482 3.62279 0.5 5.27609 0.5 7C0.5 8.53725 0.826625 9.54312 1.71875 10.6562L7 16.75L12.2812 10.6562C13.1734 9.54312 13.5 8.53725 13.5 7C13.5 5.27609 12.8152 3.62279 11.5962 2.40381C10.3772 1.18482 8.72391 0.5 7 0.5Z"
												stroke="#007BE3" stroke-linecap="round" stroke-linejoin="round" />
										</svg>
										<span>{{ docente.field_ciudad.entity.name.value }}</span>
									</div>
								{% endif %}

								{% if docente.field_correo_electronico.value %}
									<div class="du-modal__contact-item">
										<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M1.25689 11C0.898593 11 0.599667 10.879 0.360111 10.637C0.120556 10.395 0.000518519 10.0928 0 9.73028V1.26971C0 0.907762 0.120037 0.605785 0.360111 0.363786C0.600185 0.121786 0.898852 0.000523809 1.25611 0H12.7439C13.1017 0 13.4003 0.121262 13.6399 0.363786C13.8794 0.606309 13.9995 0.908286 14 1.26971V9.73107C14 10.0925 13.88 10.3945 13.6399 10.637C13.3998 10.8795 13.1011 11.0005 12.7439 11H1.25689ZM7 5.59114L0.777778 1.48107V9.73107C0.777778 9.87197 0.82263 9.98774 0.912333 10.0784C1.00204 10.169 1.11689 10.2143 1.25689 10.2143H12.7439C12.8834 10.2143 12.998 10.169 13.0877 10.0784C13.1774 9.98774 13.2222 9.87171 13.2222 9.73028V1.48029L7 5.59114ZM7 4.71428L12.9827 0.785714H1.01733L7 4.71428ZM0.777778 1.48107V0.785714V9.73107C0.777778 9.87197 0.82263 9.98774 0.912333 10.0784C1.00204 10.169 1.11689 10.2143 1.25689 10.2143H0.777778V1.48107Z"
												fill="#007BE3" />
										</svg>
										<a href="mailto:{{ docente.field_correo_electronico.value }}">{{ docente.field_correo_electronico.value }}</a>
									</div>
								{% endif %}

								<div class="du-modal__contact-item du-colum">
									<div class="du-modal__contact-redes">
										{% if docente.field_linkedin.uri %}
											<a href="{{ docente.field_linkedin.uri }}" target="_blank">
												<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M20.4444 0C21.1222 0 21.7722 0.269244 22.2514 0.748502C22.7307 1.22776 22.9999 1.87777 22.9999 2.55555V20.4444C22.9999 21.1222 22.7307 21.7722 22.2514 22.2514C21.7722 22.7307 21.1222 22.9999 20.4444 22.9999H2.55555C1.87777 22.9999 1.22776 22.7307 0.748502 22.2514C0.269244 21.7722 0 21.1222 0 20.4444V2.55555C0 1.87777 0.269244 1.22776 0.748502 0.748502C1.22776 0.269244 1.87777 0 2.55555 0H20.4444ZM19.8055 19.8055V13.0333C19.8055 11.9285 19.3666 10.869 18.5854 10.0878C17.8042 9.30662 16.7447 8.86775 15.6399 8.86775C14.5538 8.86775 13.2888 9.53219 12.6755 10.5289V9.11053H9.11053V19.8055H12.6755V13.5061C12.6755 12.5222 13.4677 11.7172 14.4516 11.7172C14.9261 11.7172 15.3811 11.9057 15.7166 12.2411C16.052 12.5766 16.2405 13.0316 16.2405 13.5061V19.8055H19.8055ZM4.95776 7.10442C5.52709 7.10442 6.0731 6.87826 6.47568 6.47568C6.87826 6.0731 7.10442 5.52709 7.10442 4.95776C7.10442 3.76943 6.14609 2.79832 4.95776 2.79832C4.38504 2.79832 3.83578 3.02584 3.43081 3.43081C3.02584 3.83578 2.79832 4.38504 2.79832 4.95776C2.79832 6.14609 3.76943 7.10442 4.95776 7.10442ZM6.73387 19.8055V9.11053H3.19443V19.8055H6.73387Z"
														fill="#51BCD6" />
												</svg>
											</a>
										{% endif %}

										{% if docente.field_facebook.uri %}
											<a href="{{ docente.field_facebook.uri }}" target="_blank">
												<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M21.7349 0H1.265C0.929498 0 0.607742 0.133276 0.370509 0.370509C0.133276 0.607742 0 0.929498 0 1.265V21.7349C0 22.0704 0.133276 22.3922 0.370509 22.6294C0.607742 22.8667 0.929498 22.9999 1.265 22.9999H12.282V14.0875H9.29197V10.6375H12.282V8.04997C12.22 7.4425 12.2917 6.82882 12.4921 6.252C12.6924 5.67517 13.0165 5.14916 13.4417 4.71086C13.8668 4.27256 14.3827 3.93257 14.9532 3.71476C15.5237 3.49695 16.1349 3.40658 16.7439 3.44999C17.639 3.44381 18.5337 3.48989 19.4234 3.58799V6.69298H17.5949C16.1459 6.69298 15.87 7.38298 15.87 8.38347V10.603H19.3199L18.8714 14.053H15.87V22.9999H21.7349C21.9011 22.9999 22.0655 22.9672 22.219 22.9036C22.3725 22.8401 22.512 22.7469 22.6294 22.6294C22.7469 22.512 22.8401 22.3725 22.9036 22.219C22.9672 22.0655 22.9999 21.9011 22.9999 21.7349V1.265C22.9999 1.09887 22.9672 0.93438 22.9036 0.780903C22.8401 0.627427 22.7469 0.487975 22.6294 0.370509C22.512 0.253043 22.3725 0.159864 22.219 0.0962922C22.0655 0.0327202 21.9011 0 21.7349 0Z"
														fill="#51BCD6" />
												</svg>
											</a>
										{% endif %}

										{% if docente.field_instagram.uri %}
											<a href="{{ docente.field_instagram.uri }}" target="_blank">
												<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M12.6828 0C13.9766 0.00344999 14.6332 0.01035 15.2002 0.0264499L15.4233 0.0344999C15.6809 0.0436998 15.935 0.0551998 16.2421 0.0689997C17.4656 0.1265 18.3005 0.319699 19.0331 0.603748C19.7921 0.895847 20.4315 1.29145 21.0709 1.92969C21.6559 2.50438 22.1084 3.19983 22.3968 3.96749C22.6809 4.70004 22.8741 5.53493 22.9316 6.75968C22.9454 7.06558 22.9569 7.31973 22.9661 7.57848L22.973 7.80158C22.9902 8.36737 22.9971 9.02402 22.9994 10.3178L23.0006 11.1757V12.6822C23.0034 13.521 22.9946 14.3598 22.9741 15.1984L22.9672 15.4215C22.958 15.6802 22.9465 15.9344 22.9327 16.2402C22.8752 17.465 22.6797 18.2987 22.3968 19.0324C22.1084 19.8001 21.6559 20.4955 21.0709 21.0702C20.4962 21.6552 19.8007 22.1077 19.0331 22.3962C18.3005 22.6802 17.4656 22.8734 16.2421 22.9309L15.4233 22.9654L15.2002 22.9723C14.6332 22.9884 13.9766 22.9965 12.6828 22.9988L11.8249 22.9999H10.3196C9.48037 23.0029 8.64118 22.9941 7.80223 22.9735L7.57913 22.9666C7.30613 22.9562 7.0332 22.9444 6.76033 22.9309C5.53674 22.8734 4.70184 22.6802 3.96814 22.3962C3.2009 22.1076 2.50586 21.6551 1.9315 21.0702C1.34609 20.4957 0.893176 19.8002 0.604402 19.0324C0.320353 18.2999 0.127154 17.465 0.0696538 16.2402L0.035154 15.4215L0.0294041 15.1984C0.00820515 14.3598 -0.00137918 13.521 0.000654115 12.6822V10.3178C-0.00252895 9.47896 0.00590525 8.64015 0.0259541 7.80158L0.0340041 7.57848C0.043204 7.31973 0.054704 7.06558 0.0685039 6.75968C0.126004 5.53493 0.319203 4.70119 0.603252 3.96749C0.8927 3.19952 1.34641 2.50404 1.93265 1.92969C2.50667 1.34498 3.20131 0.892482 3.96814 0.603748C4.70184 0.319699 5.53559 0.1265 6.76033 0.0689997C7.06623 0.0551998 7.32153 0.0436998 7.57913 0.0344999L7.80223 0.0275998C8.6408 0.00716759 9.47961 -0.0016499 10.3184 0.00114991L12.6828 0ZM11.5006 5.74998C9.97563 5.74998 8.5131 6.35578 7.43477 7.43411C6.35644 8.51244 5.75064 9.97497 5.75064 11.5C5.75064 13.025 6.35644 14.4875 7.43477 15.5658C8.5131 16.6441 9.97563 17.2499 11.5006 17.2499C13.0256 17.2499 14.4881 16.6441 15.5665 15.5658C16.6448 14.4875 17.2506 13.025 17.2506 11.5C17.2506 9.97497 16.6448 8.51244 15.5665 7.43411C14.4881 6.35578 13.0256 5.74998 11.5006 5.74998ZM11.5006 8.04997C11.9537 8.0499 12.4023 8.13906 12.8209 8.31237C13.2395 8.48568 13.6199 8.73974 13.9403 9.06005C14.2607 9.38035 14.5149 9.76064 14.6883 10.1792C14.8618 10.5977 14.9511 11.0463 14.9512 11.4994C14.9513 11.9524 14.8621 12.4011 14.6888 12.8197C14.5155 13.2383 14.2614 13.6187 13.9411 13.9391C13.6208 14.2595 13.2405 14.5137 12.822 14.6871C12.4034 14.8606 11.9548 14.9499 11.5018 14.95C10.5868 14.95 9.70926 14.5865 9.06226 13.9395C8.41526 13.2925 8.05178 12.415 8.05178 11.5C8.05178 10.585 8.41526 9.70745 9.06226 9.06045C9.70926 8.41345 10.5868 8.04997 11.5018 8.04997M17.5392 4.02499C17.158 4.02499 16.7924 4.17644 16.5228 4.44602C16.2532 4.7156 16.1018 5.08124 16.1018 5.46248C16.1018 5.84373 16.2532 6.20936 16.5228 6.47895C16.7924 6.74853 17.158 6.89998 17.5392 6.89998C17.9205 6.89998 18.2861 6.74853 18.5557 6.47895C18.8253 6.20936 18.9767 5.84373 18.9767 5.46248C18.9767 5.08124 18.8253 4.7156 18.5557 4.44602C18.2861 4.17644 17.9205 4.02499 17.5392 4.02499Z"
														fill="#51BCD6" />
												</svg>
											</a>
										{% endif %}
									</div>

									{% if docente.field_pagina_web.value %}
										<a href="{{ docente.field_pagina_web.value }}" target="_blank" class="du-link-external">{{ docente.field_pagina_web.value }}</a>
									{% endif %}
								</div>
							</div>
						</div>
					</aside>

					<main class="du-modal__main">
						<section class="du-modal__section">
							<h4 class="du-modal__section-title">
								<svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
									d="M2.47759 8.89237V21.42M1.19318 7.93961C0.281961 7.50313 0.281961 6.32553 1.19318 5.88904C2.38792 5.31673 4.17278 4.50441 6.69742 3.45275C10.2052 1.99163 12.6012 1.12525 13.8876 0.686125C14.612 0.437958 15.3984 0.437958 16.1228 0.686125C17.4085 1.12525 19.8059 1.99163 23.313 3.45275C25.8383 4.50441 27.6225 5.31673 28.8179 5.88904C29.7278 6.32553 29.7278 7.50313 28.8179 7.93961C27.6225 8.51193 25.8376 9.32425 23.313 10.3759C19.8053 11.837 17.4092 12.7034 16.1228 13.1425C15.3984 13.3907 14.612 13.3907 13.8876 13.1425C12.6019 12.7034 10.2045 11.837 6.69742 10.3759C4.17212 9.32359 2.38792 8.51193 1.19318 7.93961Z"
									stroke="#007BE3" stroke-linecap="round" stroke-linejoin="round" />
									<path
									d="M6.50139 10.2935C6.45504 11.1808 6.43261 12.0693 6.43413 12.9579C6.43413 14.9979 6.53897 16.279 6.64183 17.0458C6.73216 17.7157 7.1159 18.2854 7.71459 18.5986C8.87241 19.2052 11.2243 20.1013 15.0057 20.1013C18.787 20.1013 21.1389 19.2059 22.2967 18.5993C22.8954 18.2861 23.2792 17.7164 23.3695 17.0472C23.4724 16.2797 23.5772 14.9986 23.5772 12.9592C23.5787 12.0704 23.5563 11.1817 23.5099 10.2941M4.45609 23.398C4.45609 23.9226 4.24769 24.4257 3.87673 24.7967C3.50578 25.1676 3.00266 25.376 2.47804 25.376C1.95343 25.376 1.45031 25.1676 1.07936 24.7967C0.708401 24.4257 0.5 23.9226 0.5 23.398C0.5 22.8734 0.708401 22.3703 1.07936 21.9993C1.45031 21.6284 1.95343 21.42 2.47804 21.42C3.00266 21.42 3.50578 21.6284 3.87673 21.9993C4.24769 22.3703 4.45609 22.8734 4.45609 23.398Z"
									stroke="#007BE3" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
								Perfil profesional
							</h4>
							<div class="du-modal__bio">
								{{ docente.field_perfil_profesional.value }}
							</div>
						</section>

						<section class="du-modal__section">
							<h4 class="du-modal__section-title">
								<svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
									d="M0 0.810818C0 0.595776 0.0856024 0.389541 0.237976 0.237483C0.390349 0.0854252 0.597012 1.26522e-07 0.8125 1.26522e-07H8.93425C10.6307 1.26522e-07 12.1247 0.864872 12.9978 2.17732C13.4425 1.50771 14.0465 0.958423 14.7558 0.578493C15.465 0.198563 16.2575 -0.000183062 17.0625 1.26522e-07H25.1875C25.403 1.26522e-07 25.6097 0.0854252 25.762 0.237483C25.9144 0.389541 26 0.595776 26 0.810818V17.0953C26 17.2022 25.9788 17.3081 25.9376 17.4068C25.8965 17.5056 25.8361 17.5952 25.7601 17.6705C25.6841 17.7459 25.5939 17.8055 25.4947 17.8459C25.3955 17.8864 25.2892 17.9068 25.1821 17.9061L16.8599 17.8499C16.4294 17.8468 16.0026 17.9292 15.6042 18.0921C15.2059 18.2551 14.8439 18.4954 14.5394 18.7991L13.5752 19.7623C13.4998 19.8377 13.4102 19.8975 13.3116 19.9382C13.213 19.979 13.1073 20 13.0005 20C12.8938 20 12.7881 19.979 12.6895 19.9382C12.5909 19.8975 12.5013 19.8377 12.4258 19.7623L11.4487 18.7883C10.8393 18.18 10.0128 17.8382 9.15092 17.838H0.8125C0.597012 17.838 0.390349 17.7526 0.237976 17.6005C0.0856024 17.4485 0 17.2422 0 17.0272L0 0.810818ZM13.8125 17.278C14.6825 16.591 15.7613 16.2207 16.8707 16.2282L24.375 16.2791V1.62164H17.0625C16.2005 1.62164 15.3739 1.96334 14.7644 2.57157C14.1549 3.1798 13.8125 4.00474 13.8125 4.86491V17.278ZM12.1842 4.86166C12.1834 4.00206 11.8406 3.17795 11.2312 2.57042C10.6218 1.96289 9.79564 1.62164 8.93425 1.62164H1.625V16.2164H9.15092C10.2537 16.2164 11.3241 16.5904 12.1875 17.2758L12.1842 4.86166Z"
									fill="#007BE3" />
								</svg>
								Programas vinculados
							</h4>
							<div class="du-modal__programs">
								{% for programal in programas %}
									<div class="du-program-tag">
										<span class="tag {{ programal.tipo_programa_color }}">{{ programal.tipo_programa }}</span>
										<span class="program-name">{{ programal.title }}</span>
									</div>
								{% endfor %}
							</div>
						</section>
					</main>
				</div>
			</div>
		</div>
	{% endfor %}
</section>

<div id="container-modal"></div>

<script>

document.addEventListener('click', function(e) {
  const link = e.target.closest('.du-open-modal');
  if (!link) return;
  e.preventDefault();
  const targetId = link.getAttribute('data-target');
  const modalContent = document.getElementById(targetId);
  if (modalContent) {
    const contenedor = document.getElementById('container-modal');
    contenedor.innerHTML = modalContent.outerHTML;
    const modal = contenedor.querySelector('.du-modal');
    modal.style.display = "flex";
    document.body.style.overflow = "hidden";
  }
});

document.addEventListener('click', function(e) {
  if ( e.target.classList.contains('du-modal__close') || e.target.classList.contains('du-modal__overlay') ) {
    const contenedor = document.getElementById('container-modal');
    document.body.style.overflow = "auto";
    contenedor.innerHTML = '';
  }
});

</script>
